SilverlightApplication1/Service References/odooNS/odooWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:6541/odooWS.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:6541/odooWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="odooWS_pointer_InputMessage">
    <wsdl:part name="parameters" element="pointer" />
  </wsdl:message>
  <wsdl:message name="odooWS_pointer_OutputMessage">
    <wsdl:part name="parameters" element="pointerResponse" />
  </wsdl:message>
  <wsdl:message name="odooWS_pointer2_InputMessage">
    <wsdl:part name="parameters" element="pointer2" />
  </wsdl:message>
  <wsdl:message name="odooWS_pointer2_OutputMessage">
    <wsdl:part name="parameters" element="pointer2Response" />
  </wsdl:message>
  <wsdl:message name="odooWS_pointerLog_InputMessage">
    <wsdl:part name="parameters" element="pointerLog" />
  </wsdl:message>
  <wsdl:message name="odooWS_pointerLog_OutputMessage">
    <wsdl:part name="parameters" element="pointerLogResponse" />
  </wsdl:message>
  <wsdl:portType name="odooWS">
    <wsdl:operation name="pointer">
      <wsdl:input wsaw:Action="urn:odooWS/pointer" message="odooWS_pointer_InputMessage" />
      <wsdl:output wsaw:Action="urn:odooWS/pointerResponse" message="odooWS_pointer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pointer2">
      <wsdl:input wsaw:Action="urn:odooWS/pointer2" message="odooWS_pointer2_InputMessage" />
      <wsdl:output wsaw:Action="urn:odooWS/pointer2Response" message="odooWS_pointer2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="pointerLog">
      <wsdl:input wsaw:Action="urn:odooWS/pointerLog" message="odooWS_pointerLog_InputMessage" />
      <wsdl:output wsaw:Action="urn:odooWS/pointerLogResponse" message="odooWS_pointerLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>